@model PriortyUpdateRequest

@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Aciliyet Durum Güncelle";
}


<form asp-action="Update" asp-controller="Priority" asp-area="Admin" method="post">

    <input type="hidden" asp-for="id" />


    <div class="mb-3">
        <label class="form-label">Aciliyet Tanımı :</label>
        <input asp-for="Definition" class="form-control" />
    </div>


    <div class="mb-3">
        <a asp-action="List" asp-controller="Priority" asp-area="Admin" class="btn btn-secondary">Vazgeç</a>
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>

    <div asp-validation-summary="All" class="text-danger">
    </div>
</form>